﻿<?php $form->prepare(); ?>
<div class="container pull-center">
	<div class="row">
		<div class="col-md-5">
			<a href="<?php echo $this->basePath('/') ?>" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span>Zurück zum Org Chart</a>
			<?php if($success): ?>
				<p></p>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success"><?php echo $contacts; ?> Kontakte importiert</li>
					<li class="list-group-item list-group-item-success"><?php echo $relationships; ?> Beziehungen importiert</li>
					<li class="list-group-item list-group-item-success"><?php echo $search_index; ?> Suchattribute importiert</li>
					<li class="list-group-item list-group-item-success">Der Import dauerte <?php echo round($duration*1000, 5); ?> ms</li>
				</ul>
			<?php else: ?>
				<p></p>
				<p>Bitte wählen Sie über <span class="label label-primary">Durchsuchen</span> ihre JSON-Datei für den Import aus und klicken sie anschließend auf "Import!" um neue Daten zu importieren.</p>
				<p><span class="label label-danger">Achtung!</span> Die bisherigen Daten werden bei diesem Vorgang gelöscht. Diese Aktion kann nicht rückgängig gemacht werden!</p>
			<?php endif; ?>

			<?php echo $this->form()->openTag($form); ?>
				<span class="btn btn-primary btn-file">Durchsuchen
					<?php echo $this->formRow($form->get('filJsonImport')); ?>
				</span>
				<?php echo $this->formRow($form->get('btnJsonImportSubmit'));?>
			<?php echo $this->form()->closeTag(); ?>
		</div>
	</div>
</div>
