﻿
  <div class="container">
		<!--beginn header-->
  	<header>
  		<div class="container">
				<div id="row_header" class="row">
					<div class="col-md-3">
						<p class="logo">
							<img src="<?php echo $this->basePath('img/mhp_logo.png'); ?>"
								id="imgLogo">
						</p>
					</div>
					<div class="col-md-1 col-md-offset-3">
						<button id="button_print" type="button" class="btn btn-default nav-btn">
						<span class="glyphicon glyphicon-print"></span></button>
					</div>
					
					<div class="col-md-1">
					<!--a in button und mit js modal öffnen ! -->
						<button id="button_help" class="btn btn-default nav-btn" data-toggle="modal" data-target="#helpModal">
						<span class="glyphicon glyphicon-question-sign"></span></button>
					</div>

					<div class="col-md-1">
						<button id="button_settings" class="btn btn-default nav-btn" data-toggle="modal" data-target="#settingModal">
						<span class="glyphicon glyphicon-cog"></span></button>
					</div>

					<div class="search col-md-2">
						<input type="text" class="form-control" id="search_field"
							placeholder="Suchen...">
						<div id="search_result">

							<ul class="list-group" id="resultList">
							</ul>
					</div>
				</div>
			</div>
			</div>
			<!-- end container -->

		</header>
<!--end header-->

		
<!-- Svg Graphic and Print/Zoom  Buttons -->
  	<div class="row">
		<div  id="svgRow" class="col-sm-12 col-xs-11">	  		 
			<div>
					<button id ="button_submitPrint" class="btn btn-default" style="display: none">Weiter zum Druck</button>
					<button id ="button_stopPrint" class="btn btn-default" style="display: none">Abbrechen</button>
					<button id ="button_reset" class="btn btn-default">Pfad zurücksetzen</button>
					<button id="button_plus" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button>
					<button id="button_minus" class="btn btn-default" ><span class="glyphicon glyphicon-minus-sign"></span></button>
			</div>	
  		 	<svg id="svg"></svg>
			<script>
					$(document).ready(function(){
						reallyStartFunction(1);
					});
			</script>
  		 </div>
	</div><!--end row-->

		<!-- modal help---->
			<!-- Modal -->
			<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Legende</h4>
				  </div>
				  
				  <!-- Beschreibung der Linenfarben-->
				<div class="row">
					<div class="col-sm-6">
						<p>
							<font size="+1"><strong>Linienfarben:</strong></font> <br> <font color="yellow">gelb</font>: vom Kunden festzulegen<br> <font color="green">grün</font>: vom Kunden festzulegen<br>
							<font color="red">rot</font>: vom Kunden festzulegen<br> <font color="blue">blau</font>: vom Kunden festzulegen<br>
						</p>
					</div>
					
					<!-- Beschreibung der Linienarten-->
					<div class="col-sm-6">
						<p>
							<font size="+1"><strong>Linienart:</strong></font><br> gestrichelt: Informelle Beziehungen<br>
							durchgezogen: Formelle Beziehungen<br>
						</p>				
					</div>
				</div><!--end row-->
				
				<!-- Beschreibung der Knoten-->
					<div class="row">
						<div class="col-sm-12">
							
							<hr style="border-style: dashed">
							<p><font size="+1"><strong>Bedeutung der Knotenfarben:</strong></font><br>
							Genehmiger: <font color="#FF3030">rot</font><br>
							Entscheider: <font color="#FFFF00">gelb</font><br>
							Pruefer: <font color="#FFA500">orange</font><br>
							Anwender: <font color="#00FF00">grün</font><br>
							Coach: <font color="#7FFFD4">blau</font><br>
							Organisation: <font color="#EE82EE">lila</font><br></p>
						</div>
					</div><!--end row-->
					
					
					<!-- Discription of the interagation of the Graph-->
					<div class="row">
						<div class="col-sm-12">
							<hr style="border-style: dashed">
							<p><font size="+1"><strong>Interaktion mit Knoten:</strong></font><br>
							<ul>
								        <li>Beschreibung anzeigen: mit Maus auf ein der Knoten fahren. Das anklickbare Beschreibungsfenster öffnet sich.</li>
										<li>Baum bewegen: neben einen Knoten mit der linken Maustaste klicken, halten und dann bewegen.</li>
							</ul>
						</div>
					</div><!--end row-->
					
					<!-- Discription of the interagation with the nodes-->
					<div class="row">
						<div class="col-sm-12">
							<hr style="border-style: dashed">
							<p><font size="+1"><strong>Interaktion mit dem Graph:</strong></font><br>
							<ul>
								        <li>Zoom: Funktioniert entweder mit dem Mausrad oder den plus- und minus-Buttons</li>
										<li>Knoten (de)aktivieren: entsprechenden Knoten anklicken. Es können nur Knoten am Rand des aktiven Pfades deaktiviert werden. Mit „Pfad zurücksetzen“ werden alle Knoten deaktiviert, sonst wird am Graph nichts geändert. </li>
										<li>Bildung des aktiven Pfades: Einen Knoten, der mit einem der aktiven Randknoten durch eine formelle Beziehung verbunden ist, anklicken.</li>
							</ul>
						</div>
					</div><!--end row-->
					
					<!-- Discription Settings Modal-->
					<div class="row">
						<div class="col-sm-12">	
							<hr style="border-style: dashed">
							<p><font size="+1"><strong>Einstellungen:</strong></font><br>
							<ul>
								         <li>„Anzahl der Ebenen …:“ legt fest, wie viele Ebenen unter- und oberhalb des gesuchten Knotens angezeigt werden</li>
										<li>„Informelle Beziehungen anzeigen:“  Wenn der Haken gesetzt ist, werden die informellen Beziehungen mit angezeigt.</li>
										<li>„Beschreibung Beziehungen anzeigen:“ Wenn der Haken gesetzt ist, werden die Beschreibungen der informellen Beziehungen angezeigt.</li>
										<li>„Einklappen aktivieren:“ Wenn der Haken gesetzt ist, werden die Kinder eines Knotens wieder eingeklappt, sobald der Knoten wieder deaktiviert wird.</li>
							</ul>
						</div>
					</div><!--end row-->
					<!-- Discription Search-->
					<div class="row">
						<div class="col-sm-12">
							
							<hr style="border-style: dashed">
							<p><font size="+1"><strong>Suchen:</strong></font><br>
							<ul>
								         <li>Sobald mindestens zwei Buchstaben in das Suchfeld eingegeben wurden, öffnet sich eine Liste der Ergebnisse. Hierbei wird Groß- und Kleinschreibung unterschieden.</li>
										<li>Mit Klick auf eines der Ergebnisse wird ein neuer Graph erstellt. Der gesuchte Knoten ist automatisch aktiviert. Wie viele Ebenen ober- und unterhalb angezeigt werden, kann in den Einstellungen festgelegt werden.</li>
							</ul>
						</div>
					</div><!--end row-->
					
					<!-- Discription printing -->
					<div class="row">
						<div class="col-sm-12">
							<hr style="border-style: dashed">
							<p><font size="+1"><strong>Druckvorgang:</strong></font><br>
							<ul>
								        <li>Es wird nur der Teil innerhalb des grauen Rahmens gedruckt.</li>
										<li>Den gewünschten Teil des Graphs innerhalb des grauen Rahmens ziehen und entsprechend zoomen. </li>
							</ul>
						</div>
					</div><!--end row-->	

				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
				  </div>
				</div>
			  </div>
			</div><!--end modal help-->
		
	
		<!-- modal settings---->
			<!-- Modal -->
			<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Einstellungen</h4>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<p>Anzahl der Ebenen die bei der Suche geladen werden sollen:</p>
							</div>
							<div class="col-sm-6">
								<input id="input_levels" type="number" class="form-control"
										min="1" max="5" step="1" value=2></input>
							</div><!--end row-->
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p>Informelle Beziehungen anzeigen:</p>
							</div>
							<div class="col-sm-6">
								 <input type="checkbox" id="checkbox_informalrelation"></input>	
							</div>			
						</div><!--end row-->	
					
						<div class="row">
							<div class="col-sm-6">
								<p>Beschreibung Beziehungen anzeigen:</p>
							</div>
							<div class="col-sm-6">
								 <input type="checkbox" id="checkbox_axis" ></input>	
							</div>			
						</div>	<!--end row-->	
					
						<div class="row">
							<div class="col-sm-6">
								<p>Einklappen aktivieren:</p>
							</div>
							<div class="col-sm-6">
								 <input  type="checkbox" id="checkbox_fold" checked></input>
							</div>			
						</div><!--end row-->	
						

					</div><!-- end container-->
					<div class="modal-footer">
						<div class="col-md-2">
							<a href="<?php echo $this->basePath()."/import/json" ?>" >Import new Data </a>
						</div>
						<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
						<button id="button_submit" type="button" class="btn btn-primary" data-dismiss="modal">Übernehmen</button>
					</div>
				</div>
			 </div>
			</div><!--end modal settings--->
		</div>
