<!DOCTYPE html>
<html lang="de">


<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>MHP-OrgChart</title>

	
<!-- CSS SCRIPTS -->
	<?php
	echo $this->headLink(array(
			'rel' => 'shortcut icon',
			'type' => 'image/vnd.microsoft.icon',
			'href' => $this->basePath() . '/img/favicon.ico?v=2'))
	    ->prependStylesheet($this->basePath() . '/css/stylesheet.css')
		->prependStylesheet($this->basePath() . '/css/print.css','print')
		->prependStylesheet($this->basePath() . '/css/edgeTypes.css','all')
	    ->prependStylesheet($this->basePath() . '/css/nodeTypes.css','all')
		->prependStylesheet($this->basePath() . '/css/orgChart.css')
		->prependStylesheet($this->basePath() . '/css/tipsy.css')
		->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')?>       
	
<!-- JS SCRIPTS -->
	<?php
	echo $this->headScript()
		->prependFile($this->basePath() . '/js/bootstrap.min.js')
		->prependFile($this->basePath() . '/js/dagre-d3.js')
 		->prependFile($this->basePath() . '/js/d3.v3.min.js')
 		->prependFile($this->basePath() . '/js/jquery-1.9.1.min.js')	
		->prependFile($this->basePath() . '/js/html5shiv.js')
		->appendFile($this->basePath() . '/js/tipsy.js')
		->appendFile($this->basePath() . '/js/request_settings.js')
		->appendFile($this->basePath() . '/js/print.js')
		->prependFile($this->basePath() . '/js/properties.js')
		->prependFile($this->basePath() . '/js/centerNodeZoom.js')
		->appendFile($this->basePath() . '/js/variables.js')
		->appendFile($this->basePath() . '/js/drawingGraph.js')
		->appendFile($this->basePath() . '/js/activePath.js')
		->appendFile($this->basePath() . '/js/tooltip.js')
		->appendFile($this->basePath() . '/js/search.js')
		->appendFile($this->basePath() . '/js/details.js')
		->appendFile($this->basePath() . '/js/changeGraphSettings.js') ?>

		<script type="text/javascript">
			var basePath = "<?php echo $this->basePath(); ?>";
		</script>
</head>

<!--beginn body-->
	<body>
		<?php echo $this->content; ?>
	</body>
</html>