
.edgePath path{
/*  stroke: black;
  fill: black;
  stroke-width: 1.5px;	*/
}


/*	RED	*/
g.type-111 > path{
	stroke: red;
	fill: none;
	stroke-width: 2px;
}

g.type-011 > path{
	stroke: red;
	fill: none;
	stroke-width: 2px;
	stroke-dasharray: 10,10;
}

/*	GREEN */
g.type-101 > path{
	stroke: green;
	fill: none;
	stroke-width: 2px;
}

g.type-001 > path{
	stroke: green;
	fill: none;
	stroke-width: 2px;
	stroke-dasharray: 10,10;
}

/*	BLUE	*/
g.type-100 > path{
	stroke: blue;
	fill: none;
	stroke-width: 2px;
}

g.type-000 > path{
	stroke: blue;
	fill: none;
	stroke-width: 2px;
	stroke-dasharray: 10,10;
}

/*	YELLOW	*/
g.type-110 > path{
	stroke: #DAA520;
	fill: none;
	stroke-width: 2px;
}

g.type-010 > path{
	stroke: #DAA520;
	fill: none;
	stroke-width: 2px;
	stroke-dasharray: 10,10;
}

/*	ACTIVE	*/

/*	RED	*/
g.type-111-activated > path{
	stroke: red;
	fill: none;
	stroke-width: 4px;
}

g.type-011-activated > path{
	stroke: red;
	fill: none;
	stroke-width: 4px;
	stroke-dasharray: 10,10;
}

/*	GREEN */
g.type-101-activated > path{
	stroke: green;
	fill: none;
	stroke-width: 4px;
}

g.type-001-activated > path{
	stroke: green;
	fill: none;
	stroke-width: 4px;
	stroke-dasharray: 10,10;
}

/*	BLUE	*/
g.type-100-activated > path{
	stroke: blue;
	fill: none;
	stroke-width: 4px;
}

g.type-000-activated > path{
	stroke: blue;
	fill: none;
	stroke-width: 4px;
	stroke-dasharray: 10,10;
}

/*	YELLOW	*/
g.type-110-activated > path{
	stroke: #DAA520;
	fill: none;
	stroke-width: 4px;
}

g.type-010-activated > path{
	stroke: #DAA520;
	fill: none;
	stroke-width: 4px;
	stroke-dasharray: 10,10;
}
