text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: black;
  fill: #fff;
}

.node text {
  pointer-events: none;
}

g.type-Genehmiger > rect{
	fill: #FF3030;
}

g.type-Entscheider > rect{
	fill: #FFFF00;
}

g.type-Pruefer > rect{
	fill: #FFA500;
}

g.type-Anwender > rect{
	fill: #00FF00;
}

g.type-Coach > rect{
	fill: #7FFFD4;
}

g.type-Organisation >rect{
	fill: #EE82EE;
}

g.type-Genehmiger-activated > rect{
	fill: #CD0000;
	stroke-width: 5px;
}

g.type-Entscheider-activated > rect{
	fill: #FFD700;
	stroke-width: 5px;
}

g.type-Pruefer-activated > rect{
	fill: #FF4500;
	stroke-width: 5px;
}

g.type-Anwender-activated > rect{
	fill: #008B00;
	stroke-width: 5px;
}

g.type-Coach-activated > rect{
	fill: #1E90FF;
	stroke-width: 5px;
}
g.type-Organisation-activated >rect{
	fill: #D02090;
	stroke-width: 5px;
}

.clusters rect {
  fill: #7f7;
  stroke: black;
  stroke-width: 1px;
} 