text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.tipsy .name {
  font-size: 1.3em;
  font-weight: bold;
  color: #60b1fc;
}

.tipsy {
	overflow-y: scroll;
	overflow-x: visible;
	width: 200px;
    height: 200px;
}

.tipsy .description {
  font-size: 1.2em;
}
