/* main elements */
		html {
			height: 100%;
			width: 100%;
		}	

		body {
			background-color: #34313C;
			color: #ffffff;
			height: 100%;
			width: 100%;
		}

		body .container{
			width:100%;
			height:100%;
		}	

		body .container .row  {
			width: 100%;
			height: 85%;
			margin-left:0;
		}


		header .container {
			color: black;
			background-color: gray;
			text-align: right;
			padding-top: 20px;
			padding-right: 0px;
			border-radius: 4px;
		}

/*all for search*/

		.search {
			z-index: 1;
		}

		.search .result {
			padding: 6px 12px;
			cursor: pointer;
		}

		.search .result:hover {
			background-color: #ddd;
		}

		.search .result .result-name {
			font-size: 1em;
		}

		.search .result .result-hit {
			font-size: 0.7em;
			text-align: right;
		}

		.search .result-hit strong {
			font-weight: 800;
		}

		#search_result {
			text-align: left;
			display: block;
			width: 100%;
			height: 40px;
			font-size: 14px;
			line-height: 1.42857;
			color: #555;
		}


/*Modal settings*/

		.modal{
				color:white;
				position: fixed;
				font-family: Arial, Helvetica, sans-serif;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.8);
				z-index: 99999;
		}

		.modal .modal-content{
			background: #34313C;
		}
		.modal>div {
				width: 60%;
				margin: 10% auto;
				border-radius: 10px;
			}


/*all buttons*/
		#button_submitPrint{
			position: absolute;
			top: 10px;
			left: 20px;
		}

		#button_stopPrint{
			position: absolute;
			top: 10px;
			left: 168px;
		}


		#button_plus {
			position: absolute;
			top: 50px;
			right: 10px;
		}

		#button_minus {
			position: absolute;
			top:90px;
			right: 10px;
		}

		#button_reset{
			position: absolute;
			top:10px;
			right: 10px;
		}


/*everything for svg graph*/
		#svgRow {
			padding:0px;
			z-index: 0;
			width: 100%;
			height: 100%;
			background-color: #CCCCCC;
		}

		#svg {
			width: 100%;
			height: 100%;
		}

/*everything for the upload form*/		
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Tipsy */
.tipsy {
	width:auto;
	overflow-x: hidden;
}
